@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.custom-chat {
  background-color: #faf9f4;
}
.custom-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.custom-app {
  background-color: #faf9f3;
  margin: 0 auto;
}

.custom-message {
  font-size: 14px;
  background-color: rgb(239, 239, 239);
}

.custom-verified {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: -3px;
  right: -9px;
}

.custom-sender-message {
  font-size: 14px;
  background-color: rgb(36, 36, 221);
}

.custom-time {
  align-self: flex-end;
  font-size: 12px;
}

.custom-scroll {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.custom-scroll::-webkit-scrollbar {
  display: none;
}

.text-wrapper {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.horizontal-line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
  margin: 0 10px;
}

.text-content {
  font-size: 18px;
  color: #333;
}
